@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: red;
  background-color: #4b27dc7c; */
}
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;

}





.navbar{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 1px;
  height: 5rem;
  /* margin-inline: 30px; */
}
.black-btn {
  background-color: black;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 100px;
  cursor: pointer;
  height: 60px;
  width: 150px;
  /* border-top-left-radius: 45%;
  border-bottom-left-radius: 45%; */
}


.navlist-container ul{
  width: 100%;
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.nav-links a {
  color: #343434;
}
.nav-links a:hover {
  color: #4B27DC;
  transform: scale(1.4);
  
}

.hero-container {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}
.hero-section{
  
  margin-inline: auto;  
  /* width: 80%; */
  margin: 50px;
  background-color: #E1DAFD;
  height: 90vh;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.phone-img {
  background-image: url("./assets/bg-left.png"), url("./assets/bg-right.png");
  background-size: cover;
}
.phone-img img{
  /* background-color: #4B27DC; */
  width: 60%;
  display: block;
  margin-inline: auto;
}
.hero-text {
  display: flex;
  flex-direction: column;
  padding-inline: 40px;
}
.hero-text h1 {
  font-size: 60px;
  font-weight: bold;
}
.hero-text {
  width: 60%;
  margin-left: 50px;
}
.hero-text img {
  margin-top: 20px;
  width:230px;
}
.rating-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.eq-container {
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}
.eq-container p {
  width: 30%;
  font-size: large;
  font-weight: bold;
  color: #343434;
  line-height: 25px;

}
.eq-container h2 {
  font-size: 40px;
  font-weight: bold;
}

.cards-container {
  margin-top: 70px;
  width: 97vw;
  
  
}
.cards-scroll {
  display: flex;
  gap: 20px;
  overflow-x: scroll ;
  scrollbar-width: none; 
  
  justify-content: center;
  align-items: center;
}
.cards-scroll::-webkit-scrollbar {
  display: none;
}

.cards-container h2 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 70px;
}

.card {
  width: 20vw;
  margin-block: 50px;
  padding: 30px 20px;
  background-color: #FFEFD5;
  border-radius: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card h2 {
  margin-block: 5px;
}


.card:hover {
  background-color: #4B27DC;
  cursor: pointer;
  transform: rotate(-5deg) scale(1.1);
  transition: ease-in-out 0.2s ;
}

.motivation-container {
  background-color:#FEF6F1 ;
  padding: 100px;
  margin: 50px;
  border-radius: 50px;
}

.motivation-text-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around ;
  gap: 30px;
  align-items: center;
}
.motivation-container h1{
  margin-block: 20px;
  font-size: 60px;
}
.motivation-text-container img {
  height: 200px;
}
.motivation-text-container p {
  width: 600px;
  padding-inline: 70;
  font-size: 20px;
  font-weight: bold;
  color: #343434;
  line-height: 25px;

}

.timeline-container{
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px ;
}
.timeline-container h3 {
  color: #222;
  font-size: 25px;
}
.timeline-container h1 {
  font-size: 50px;
}
.social-container{
  background-color: #EDF8FE;
  margin: 150px;
  padding: 50px;
  border-radius: 50px;
  text-align: center;
  /* width: 500px; */
  height: 93vh;
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.sun-timeline-container{
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.social-container h3 {
  font-size: 1rem;
}
.social-container h1 {
  font-size: 3rem;
  font-weight: bold;
}
.sun-text{
  margin-top: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #343434;
}
.sun-text span {
  font-size: 2.5rem;
}
.sun-text p {
  font-weight: bold;
}
.social-img{
  height: 40%;
  margin-top: 30px;

}
.quote-container{
  /* text-align: center; */
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.quote-container h2{
  font-size: 35px;
}
.quote-container p {
  font-size: 20px;
}
.work-container {
  display: block;
  width: 70%;
  margin: auto;
  background-color: #F3F1FF;
  border-radius: 50px;
  padding: 70px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.work-container h2 {
  font-size: 2.5rem;
}
.new-container {
  background-color: white;
  border-radius: 25px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  
  width: 70%;
}
.about {
  padding: 50px 40px;
  line-height: 25px;
}
.product{
  background-color: #FEF6F1;
  width: 100%;
  border-radius: 25px;
}
.about p {
  color: #343434;
}
.ahead-container {}

.vacancies-container {
    margin: 40px;
}
.vacancies-container h1 {
  font-size: 40px;
  margin: 50px 150px;

}

.vacancies-cards-container{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;

}
.list-card {
  background-color: #FEFBEC;
  border-radius: 25px;
  padding: 40px 30px;
  width: 350px;
}
.card-list {
  margin-block: 20px;
}
.card-list li {
  margin-block: 10px;
}

.footer {
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.address span {
  margin-inline: 20px;
}